/* .nav-logo{
    color: #06D001;
} */
.navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.bottom{
    border-top: 6px solid black;
    width: 280px;
}
.btn-1{
    background-color:  #5ba515;
    color: #ffff;
}
.plain-line{
    border-top: 5px solid #06D001;
    width: 150px;
}
.card{
   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fea-all{
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.icons-fea{
    color: #3E7B27;
}